*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}


html {
    background-image: url("./c4BackgroundImage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 2vh;
    font-size: 7.5vh;
    font-family: serif;
    color: khaki;
}

#board {
    padding-top: 10vmin;
    width: 70vmin;
    height: 60vmin;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.cell {
    border: 1px dotted white;
    display:flex;
}

.piece {
    border-radius: 50%;
    background-color: red;
    flex-grow: 1;
}

/* raises the unplaced piece above the board!!(this is so cool) transform let's you modify the coordinate space of the CSS*/
.piece[data-placed="false"] {
    transform: translateY(-10vmin);
}