* {
    margin: 0;
    padding: 0;
    font-family: serif;
}

h1 {
    margin: 2vh;
    font-size: 7.5vh;
    color: rgb(236, 177, 68);
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: row;
}

html {
    /* background-image: url("./c4BackgroundImage.jpg"); */
    background-image: linear-gradient(to bottom, rgb(4, 69, 139) 75vh, rgb(160, 154, 92), rgb(228, 85, 29));
    background-size: contain;
    background-repeat: repeat;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#board {
    padding-top: 10vmin;
    width: 70vmin;
    height: 60vmin;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.cell {
    border: 1px solid white;
    display: flex;
}

.piece {
    border-radius: 50%;
    flex-grow: 1;

}

/* color of piece is determined by dataset of player */
.piece[data-player="1"] {
    background-color: red;
}

.piece[data-player="2"] {
    background-color: rgb(236, 236, 26);
}

/* raises the unplaced piece (floater) above the board */
.piece[data-placed="false"] {
    transform: translateY(-10.5vmin);
}

/* changes the winnig 4 pieces into squares */
.piece[data-winner="true"] {
    border-radius: 0%;
    /* background-color: greenyellow; */
}


#reset-button {
    display: flex;
    justify-content: center;
}

#reset {
    color: rgb(54, 45, 45);
    font-size: 3vh;
    margin: 2.5vmin;
    padding: 2.5vmin;
    background-color: coral;
    border-style: groove;
    border-color: rgb(21, 12, 12);
    border-width: medium;

}

#reset:hover {
    color: beige;
}

#reset:active {
    box-shadow: 10px 10px 10px rgb(25, 20, 20);
}